<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ root }}/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ root }}/static/css/main.css">

    {{{ sections.head }}}
  </head>

  <body>
    {{{ sections.body }}}

    <!-- {{{ json event.requestContext }}} -->
  </body>
</html>
