<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ root }}/favicon.ico">
    <link rel="stylesheet" href="{{ root }}/static/css/main.css">

    {{{ sections.head }}}
  </head>

  <body>
    {{{ sections.body }}}

    <!-- {{{ json event.requestContext }}} -->
  </body>
</html>
